/* =======================================================================
Kane - Responsive App Landing Page 1.7
======================================================================= */

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #c8c8c8;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

textarea:focus, input:focus {
    color: #ffffff;
}
/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;
}


/*---------------------------------------
   Typography
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}


/*---------------------------------------
   TEXTS AND BG
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #272727;
}

.deep-dark-bg {
    background: #161616 !important;
}


/*---------------------------------------
   SECTIONS
-----------------------------------------*/

.section-header {
    padding-bottom: 50px;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------
   LINES
-----------------------------------------*/

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

.colored-line-long {
    margin: auto;
    z-index: 1;
    height: 1px;
    margin-top: 75px;
    background-color: #008ed6;
}



.white-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #ffffff;
}

.colored-line-left {
    float: left;
    z-index: 1;
    display: block;
    width: 165px;
    height: 1px;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME
-----------------------------------------*/


header .color-overlay {
    min-height: 800px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

/*header .social-media{
     width: 100px;
     height:20px;
     margin: 0px;
}*/

/* TOP BAR WITH NAVIGATION */

.sticky-navigation {
  min-height: 60px;
  background: #111111;
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.sticky-navigation .navbar-header img {
  max-height: 40px;
  -webkit-backface-visibility: hidden;
}

.sticky-navigation .main-navigation .current a {
  color: #FFFFFF;
  position: relative;
  outline: none;
}

.sticky-navigation .main-navigation li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #c8c8c8;
}

header .only-logo .navbar {
    background: none;
    padding: 10px;
}

header .only-logo .navbar .navbar-header {
    float: none;
}

header .only-logo .navbar .navbar-header img{
    float: none;
    max-height: 100px;
}

/* INTRO */

header .home-contents {
    margin-top: .5%;
}

header .intro-section {
    text-align: left;
}

header .intro-section .standard-button {
    margin: 0;
}

header .phone-image {
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

header .phone-image img {
    width: 100%;
}

header .intro-section .intro {
    color: #ffffff;
    margin-bottom: 36px;
}

header .intro-section h5 {
    color: #ffffff;
}

header .intro-section .buttons {
    margin-top: 35px;
}

header .mil-logos img {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
}

header .intro-section .link {
    text-decoration: underline;
    color: #ffffff;
}

header .intro-section .link:hover {
    text-decoration: underline;
    color: #008ed6;
}

header .social-media {
    width: 300px;
    height: 20px;
}
/*---------------------------------------
   SECTION:  FEATURES
-----------------------------------------*/

.features {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #232323;
}

.features .header-custom {
    padding-bottom: 30px;
}

.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-left .icon-container {
    float: right;
    margin-left: 20px;
}

.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}

.features .feature {
    margin-bottom: 40px;
}

.features .feature .icon-container {
    display: block;
    min-height: 150px;
    margin-top: 5px;
}

.features .feature .icon-container .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
            transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
            background-clip: padding-box;
}

.features .phone-image {
    max-width: 320px;
    margin: auto;
    margin-bottom: 80px;
}

.features .phone-image img {
    width: 100%;
    margin: auto;
    margin-bottom:
}


/*---------------------------------------
   SECTION:  BRIEF
-----------------------------------------*/

.app-brief {
    padding-top: 110px;
    padding-bottom: 60px;
    background: #222222;
}

.app-brief-alt {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #222222;
}

.app-brief h2 {
    margin-bottom: 20px;
}

.app-brief-alt h2 {
    margin-bottom: 20px;
}

.app-brief .phone-image {
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

.app-brief .phone-image img {
    width: 100%;
}

.app-brief .phone-image .image-custom{
    width: 100%;
    margin-top: 45px;
}


.app-brief .left-align {
    text-align: left;
    margin-bottom: 50px;
}

.app-brief .left-align p {
    display: block;
    float: none;
    margin-top: 50px;
}

.app-brief-alt .left-align {
    text-align: left;
    margin-bottom: 50px;
}

.app-brief-alt .left-align p {
    display: block;
    float: none;
    margin-top: 50px;
}

.app-brief .left-align .feature-list {
    margin-top: 40px;
}

.app-brief .left-align .feature-list li {
    margin-bottom: 26px;
}

.app-brief .left-align .feature-list li i {
    margin-right: 10px;
    vertical-align: inherit;
}


/*---------------------------------------
   SECTION:  Buy Now
-----------------------------------------*/

#buynow {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #222222;
}


.app-brief .quote-box {
/*    border: 1px solid white;
*/}

.app-brief .buy-btn img{
    width: 300px;
    height: 90px;
    margin-bottom: 5px;
}

.app-brief .amazon {
    margin-top: 12px;
}
.app-brief .buy-btn form {
    width: 300px;
    height: 90px;
    margin: auto;
    margin-bottom: -90px;
}
.app-brief .buy-btn {
    margin-bottom: 20px;
}


.app-brief .bubble {
    position: relative;
    width: 350px;
    padding: 5px;
    background: #222222;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.app-brief .bubble p{
    font-size: 16px;
}

.app-brief .bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 53px;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #222222 transparent;
    display: block;
    width: 0;
    z-index: 1;
}



/* VIDEO */

#video {
    background: #222222;
    padding-bottom: 50px;
}
video {
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

.video-container {
    width: 90%;
    background: transparent !important;
    margin: auto;
    margin-bottom: 50px;
}

.video {
    background: transparent !important;
}


/*---------------------------------------
   SECTION:  TESTIMONIALS
-----------------------------------------*/

.testimonials .ceo-box .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
            box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    line-height: 80px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.testimonials .ceo-box .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
}

.testimonials .ceo-box .name {
    margin-top: 15px;
    font-weight: 400;
}

.testimonials .ceo-box .company-info {
    font-size: 12px;
}

.testimonials {
    color: #ffffff;
}


.testimonials .color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}

.testimonials .feedback {
    max-width: 750px;
    margin: auto;
}

.testimonials .feedback .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
            box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 80px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.testimonials .feedback .image img {
    width: 100%;
    vertical-align: top;
}

.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
}

.testimonials .feedback .name {
    margin-top: 15px;
    font-weight: 400;
}

.testimonials .feedback .company-info {
    font-size: 12px;
}

.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}

.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*---------------------------------------
   SECTION:  FOOTER
-----------------------------------------*/
footer {
     background: #222222;
}

footer .contact-box {
    margin-bottom: 65px;
}

footer .contact-box .contact-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    vertical-align: middle;
    margin-top: -40px;
    background: #232323;
    -webkit-box-shadow: 0px 0px 0px 3px #232323;
            box-shadow: 0px 0px 0px 3px #232323;
    -webkit-backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

footer .contact-box .contact-button:hover {
    color: #ffffff;
}

footer .contact-box .expanded-contact-form {
    margin-top: 40px;
    display: none;
}

footer .contact-box .expanded-contact-form .success,
footer .contact-box .expanded-contact-form .error {
    display: none;
}

footer .contact-box .expanded-contact-form .input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #222222;
    border: 1px solid #161616;
}

footer .contact-box .expanded-contact-form .textarea-box {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #222222;
    border: 1px solid #161616;
}

footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .textarea-box:focus,     {
    color: #FFF;
}

footer .contact-box p{
    text-align: left;
}

footer .social-icons {
    margin-top: 30px;
    border-bottom: 1px solid #111111;
    padding-bottom: 50px;
}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #636363;
}

footer .small-logo {
    width: 200px;
    height: 85px;
    margin-bottom: 20px;
}

footer .copyright {
    color: #808080;
    padding-top: 10px;
    margin-bottom: 50px;
}

footer .modal {
    color: black;
    text-align: left;
}

footer .modal h4  {
    color: black;
    text-align: center;
}

